name: Deploy to Staging

on:
  push:
    branches: [ staging ]

jobs:
  Deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2 
      - name: Build & Deploy
        env:
            PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY_STG }}
            HOSTNAME: ${{secrets.HOST_NAME_STG}}
            USER_NAME: ${{secrets.USER_NAME}}
      
        run: |          
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '

              # Now we have got the access of EC2 and we will start the deploy .
              sudo cd /home/ec2-user/project/scrapping &&
              sudo git pull &&
              docker-compose up -d --build
            '